div 
{
height: auto; /*if more info comes on the page, it will stretch down*/
width: auto;
margin: 0 auto; /*this will cause the div to be in the center*/
}

li
{
    list-style: none;
    display: inline-block;
}

body
{
    background-color: #1111;
}

a
{
    text-decoration: none;
    transition: all 500ms ease-in-out;
}

a:hover,
a:inactive
{
    text-decoration: none;
}

h1,h2
{
    font-family: serif,Arial, sans-serif;
    text-transform: uppercase;
    font-weight:700;
    color:dodgerblue;
}

p
{
    font-size:15px;
    line-height: 21px;
}

.btn
{
    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.btn:hover
{
    background-color: #ededed !important;
    border: 1px solid #fff !important;
}

.container h2
{
    font-family: "Arial";
    color: dodgerblue !important;
    font-weight: 700 !important;
}



/*Login*/


input[type=text], input[type=password] 
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button 
{
    background-color: #4CAF50;
    color: white;
    padding: 10px 30px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 22.5px;
}

button:hover 
{
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn 
{
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer 
{
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.login 
{
    width: 40%;
    border-radius: 50%;
}

.container 
{
    padding: 16px;
}

span.psw 
{
    float: right;
    padding-top: 16px;
}


/* The Modal (background) */
.modal 
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content 
{
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close 
{
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus 
{
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate 
{
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

.navbar c
{
    color: white;
    text-align: right;
}

.navbar b
{
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    justify-content: center;
}

@-webkit-keyframes animatezoom 
{
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom 
{
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 768px) 
{
    span.psw 
    {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
    .modal-content
    {
        width:80% !important;
    }
}

/*-----------------*/





/*Navigation*/

.navbar
{
    font-family: "PT Sans Narrow", Arial, sans-serif !important;
}

.navbar ul
{
    margin-left: auto;
    margin-right: auto;
}

.navbar b
{
    font-family: "Arial";
    font-size-adjust: auto;
    margin-left: auto;
    margin-right: auto;
}

.navbar ul li a
{
    padding left: 50px !important;
    padding-right: 50px !important;
    font-weight: 700;
}

@media(max width:768px)
{
    .navbar
    {
        padding:30px;
    }
    .navbar b
    {
        margin-left: auto;
        margin-right: auto;
        text-align: center !important;
    }
    .navbar ul
    {
        margin-left: 0 !important;
        margin-right: auto !important;
    }
}

.navbar img
{
    height: 5%;
    width: 5%;
}

/*----------------------------*/


/*Info*/

.info
{
    border-bottom-style:double;
    border-bottom-width: thin;
    border-bottom-color: darkgray;
    border-top-style: double;
    border-top-width: thin;
    border-top-color: darkgray;
}

.info h4
{
    font-family:sans-serif;
    font-weight:700;
    font-size:20px;
    color: dodgerblue;
}

.info d
{
    color:dodgerblue;
    font-size: 18px;
}

.info a
{
    color:dodgerblue;
    font-size: 18px;
}

.info p
{
    font-family: "Times new Roman";
}

.announce p
{
    color: red;
}


/*------------------------*/



/* Image */

.container-fluid 
{
    max-height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: 900;
    font-family: "Arial" !important;
}

.row 
{
    margin-left: 0px;
    margin-right: 0px;
    height:600%;
}

/*--------------------------*/



/*Academics and Apps*/


.carousel-inner .item
{
    background-size:auto;
    background-position:center center;
    margin-left: auto;
    margin-right: auto;
}

.carousel h2
{
    padding: 30px;
    color: dodgerblue !important;
    font-weight:700;
    margin-right: auto !important;
    margin-left: auto !important;
    font-family: sans-serif;
}

.carousel p a
{
    font-size: 30px;
    font-weight: 700;
    color:dodgerblue;
}

.carousel
{
    position:relative; 
    width:300px;
    margin:0 auto;
}

.carousel-caption
{
    top:0px;
    bottom: auto;
}

/*-----------------------------*/


/*Misc*/

.misc
{
    padding: 80px 0 80px;
    text-align:center;

}

.misc a
{
    color:dodgerblue;
    font-family:"Arial" !important;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center !important;
}

.misc p
{
    margin: 20px 0 20px !important;
}

.misc i
{
    height:80px;
    width:80px;
    font-size:30px;
    padding:25px 20px;
    border-radius: 50%;
    background-color:dimgrey;
    color:#fff;
}

@media(max width:768px)
{
    .misc
    {
        padding: 30px;   
    }
    .misc i a
    {
        padding:50px !important;
        margin-left: auto;
        margin-right: auto;
        text-align: center !important;
    }
    
}

/*----------------------*/


/*Footer*/

footer a
{
    color: white;
}

/*---------*/


/*Assessment.html*/



/*-------------------------*/